@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box div {
  width: 200px;
  height: 200px;
}

.order-id {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

ul li {
  list-style: none;
  font-size: 2rem;
}

.total-amount {
  font-size: 1.5rem;
  font-weight: bold;
}
