<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5 p-3 rounded cart">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="product-details mr-2">
            <hr />
            <h6 class="mb-0">Shopping cart</h6>
            <div class="d-flex justify-content-between">
              <span>You have 4 items in your cart</span>
              <div class="d-flex flex-row align-items-center">
                <span class="text-black-50">Sort by:</span>
                <div class="price ml-2">
                  <span class="mr-1">price</span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </div>
            </div>
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                mt-3
                p-2
                items
                rounded
              "
            >
              <div class="d-flex flex-row">
                <img
                  class="rounded"
                  src="https://i.imgur.com/QRwjbm5.jpg"
                  width="40"
                />
                <div class="ml-2">
                  <span class="font-weight-bold d-block">Iphone 11 pro</span
                  ><span class="spec">256GB, Navy Blue</span>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-dash"></i>
                <span class="d-block">2</span>
                <i class="bi bi-plus"></i>
                <span class="d-block ml-5 font-weight-bold">Rs 60000</span
                ><i class="ml-2 bi bi-trash"></i>
              </div>
            </div>
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                mt-3
                p-2
                items
                rounded
              "
            >
              <div class="d-flex flex-row">
                <img
                  class="rounded"
                  src="https://i.imgur.com/GQnIUfs.jpg"
                  width="40"
                />
                <div class="ml-2">
                  <span class="font-weight-bold d-block">One pro 7T</span
                  ><span class="spec">256GB, Navy Blue</span>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-dash"></i>
                <span class="d-block">2</span>
                <i class="bi bi-plus"></i
                ><span class="d-block ml-5 font-weight-bold">Rs 60000</span
                ><i class="ml-2 bi bi-trash"></i>
              </div>
            </div>
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                mt-3
                p-2
                items
                rounded
              "
            >
              <div class="d-flex flex-row">
                <img
                  class="rounded"
                  src="https://i.imgur.com/o2fKskJ.jpg"
                  width="40"
                />
                <div class="ml-2">
                  <span class="font-weight-bold d-block">Google pixel 4 XL</span
                  ><span class="spec">256GB, Axe black</span>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-dash"></i>
                <span class="d-block">2</span>
                <i class="bi bi-plus"></i
                ><span class="d-block ml-5 font-weight-bold">Rs 60000</span
                ><i class="ml-2 bi bi-trash"></i>
              </div>
            </div>
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                mt-3
                p-2
                items
                rounded
              "
            >
              <div class="d-flex flex-row">
                <img
                  class="rounded"
                  src="https://i.imgur.com/Tja5H1c.jpg"
                  width="40"
                />
                <div class="ml-2">
                  <span class="font-weight-bold d-block"
                    >Samsung galaxy Note 10&nbsp;</span
                  ><span class="spec">256GB, Navy Blue</span>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-dash"></i>
                <span class="d-block">2</span>
                <i class="bi bi-plus"></i
                ><span class="d-block ml-5 font-weight-bold">Rs 60000</span
                ><i class="ml-2 bi bi-trash"></i>
              </div>
            </div>
            <div class="mr-2 total">
              <h1>Total</h1>
              <span>Rs 40</span>
            </div>
            <a
              class="nav-link"
              href="/order?Iphone 2011 pro=10&&One 20pro 207T=10&&Google pixel 4 XL=10&&Samsung galaxy Note 10=10"
              ><h2>Pay</h2></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
