<html>
  <head>
    <title>User details</title>
  </head>
  <body>
    <form method="POST" onsubmit="/userdetails/">
      <div>
        <label for="user-name">Name:</label>
        <input name="name" class="user-name" type="text" value="user" />
      </div>
      <div>
        <label for="user-email">Email:</label>
        <input
          name="email"
          class="user-email"
          type="email"
          value="user@email.com"
        />
      </div>
      <div>
        <label for="user-phone">Phone number:</label>
        <input type="tel" id="phone" name="phone" value="3445624682" />
      </div>
      <div>
        <label for="user-card-number">Card number:</label>
        <input
          name="cardNumber"
          class="user-card-number"
          id="ccn"
          type="tel"
          inputmode="numeric"
          pattern="[0-9\s]{13,19}"
          autocomplete="cc-number"
          maxlength="19"
          placeholder="xxxx xxxx xxxx xxxx"
          value="3712 3431 3545 2324"
        />
      </div>
      <div>
        <label for="user-card-expiry-month">Card expiry month:</label>
        <input
          name="cardExpiryMonth"
          class="user-card-expiry-month"
          type="number"
          maxlength="10"
          value="12"
        />
      </div>
      <div>
        <label for="user-card-expiry-year">Card expiry year:</label>
        <input
          name="cardExpiryYear"
          class="user-card-expiry-month"
          type="number"
          maxlength="4"
          value="2022"
        />
      </div>
      <div>
        <label for="card-cvv">CVV:</label>
        <input
          name="cardCVV"
          class="card-cvv"
          type="password"
          maxlength="3"
          value="123"
        />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
